inventory/multinode
custom-config/wrx/*openrc.sh
custom-config/wrx/config/ironic/ironic-agent.kernel
custom-config/wrx/config/ironic/ironic-agent.initramfs
# checked out by gilt
custom-config/wrx/config/grafana/
custom-config/wrx/config/prometheus/
# custom-config/wrx/globals.d/monitoring.yml
custom-config/wrx/config/octavia/*.pem
custom-config/wrx/octavia-certificates/
custom-config/wrx/passwords.yml
custom-config/wrx/*-openrc.sh
custom-config/wrx/*-openrc-system.sh
custom-config/wrx/clouds.yaml
