[defaults]
inventory = inventory/wrx
host_key_checking=False
forks=20
# TODO
callback_plugins=$ARA_HOME/plugins/callback
action_plugins=$ARA_HOME/plugins/actions
lookup_plugins=$ARA_HOME/plugins/plugins
filter_plugins=$VIRTUAL_ENV/share/kolla-ansible/ansible/filter_plugins/
home=$VIRTUAL_ENV/.ansible
gathering = smart
fact_caching = jsonfile
fact_caching_connection = $VIRTUAL_ENV/ansible-facts
fact_caching_timeout = 7200
inject_facts_as_vars = False


[ssh_connection]
pipelining = True
ssh_args= -o AddressFamily=inet -o PasswordAuthentication=no -o PreferredAuthentications=publickey -o ConnectTimeout=60s -o ControlMaster=auto -o ControlPersist=60s


[ara]
api_username=ara
api_server=http://ara.mgmt.wrx.sckt.net:8000
api_client=http
api_password=P@ssword
