ara[server]
openstacksdk
osc-placement
pytest-testinfra
python-designateclient
python-glanceclient
python-heatclient
python-ironicclient
python-magnumclient
python-masakariclient
python-neutronclient
python-openstackclient
python-swiftclient
python-troveclient
python-octaviaclient
python-gilt
munch
tmuxp
redis
