[defaults]
inventory = inventory
host_key_checking=False
forks=20
home=$VIRTUAL_ENV/.ansible
gathering = smart
fact_caching = jsonfile
fact_caching_connection = $VIRTUAL_ENV/ansible-facts
fact_caching_timeout = 7200
inject_facts_as_vars = False

[ssh_connection]
pipelining = True
ssh_args= -o AddressFamily=inet -o PasswordAuthentication=no -o PreferredAuthentications=publickey -o ConnectTimeout=60s -o ControlMaster=auto -o ControlPersist=60s
